[nux-dextop]
name=Nux.Ro RPMs for general desktop use
baseurl=http://li.nux.ro/download/nux/dextop/el{{ ansible_distribution_major_version }}/$basearch/
enabled=1
gpgcheck=0
protect=0

[nux-dextop-testing]
name=Nux.Ro RPMs for general desktop use - testing
baseurl=http://li.nux.ro/download/nux/dextop-testing/el{{ ansible_distribution_major_version }}/$basearch/
enabled=0
gpgcheck=0
protect=0